#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin: auto;
}
#login-buttons{
    display: flex;
}
#login-buttons>div{
    padding: 10px;
}

#or{
    background-color: lightgray;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-items: center;
    justify-content: center; 
    display: flex;
    margin-bottom: 20px;
}

#facebook, #login{
    background-color: #3b5999;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 3px;
}

#twitter{
    background-color: #01afee;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 3px;
}

#Username, #Password{
    padding: 5px;
    margin-bottom: 10px;
    width: 300px;
}

a{
    padding-left: 10px;
    color: gray;
}

#login{
    margin-top: 20px;
    width: 300px;
}

#signup{
    color: #01afee;
}