h1, h2{
    color: #9d9e00;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

h2{
    font-weight: lighter;
}
div{
    padding-left: 30px;
    padding-right: 30px;
}
.Comments{
    background-color: #ffffc8;
    
}
#Links{
    color: #9d9e00;
}
