body{
    background: #444444;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff
}
.container{
    width: 950px;
    margin: 50px auto;
}

.column,
.column-labels {
    width: 180px;
}

.cell,
.cell-heading,
.pack,
.price,
.cell-tick,
.cell-cross,
.signup {
    width: auto;
}


.column{
    margin: 0px;
    float: left;
    background: #333333;
}

.column-labels{
    float: left;
    width: 180px;
    background: #333333;
}

.cell, .cell-cross, .cell-tick,.signup{
    border: 3px solid #444444;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.column-labels .cell{
    text-align: center;
    font-weight: bold;
}


.cell-heading{
    height: 120px;
    line-height: 120px;
    background: #2c2c2c;
    color: #01b8e2;
    text-align: center;
    margin: 0px;
    font-size: larger;
    margin-left: 3px;
    margin-right: 3px;
}

.pack{
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #01b8e2;
    font-weight: bold;
    font-size: large;
    margin-left: 3px;
    margin-right: 3px;
}

.price{
    background: black;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.cell-tick{
    
    color: #01b8e2;
    font-weight: bold;
    text-align: center;
    width: 180px;
}

.cell-cross{
    color: white;
    font-weight: bold;
    text-align: center;
    width: 180px;
}
.signup{
    text-align: center;
    background-color: #01b8e2;
    width: 180px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}